
.image-container {
    width: 350px;
    height: 300px;
}
.image-item {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #1f1c2c;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
.image-item img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .image-item h3 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    right: 1rem;
    margin: 1rem auto;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 0.15rem 0.35rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }